<!DOCTYPE html>

<html>
<head>
    <meta charset="ut-8">
    <title>Tasks</title>
</head>
<body>
    <h1>Tasks</h1>
    <ul>
        {{ range . }}
            <li> {{ .Name }} - {{ if .Done}}Done{{ else }}Open{{ end }}</li>
        {{ end }}
    </ul>
</body>
</html>